*{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 95%;
  margin: 0 auto;
  @media screen and (min-width: $medium-devices) {
    max-width: 90%;
  }
  @media screen and (min-width: $extra-large-devices) {
    max-width: 87.5%;
  }
}
.container-small{
  max-width: 99%;
  margin: 0 auto;
  @media screen and (min-width: $medium-devices) {
    max-width: 66.7%;
  }
}
.article-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $medium-devices) {
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
  }
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
a, button, input[type='button'], input[type='submit'] {
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  outline: 0 none;
}
input[type='text'], input[type='password'], input[type='email'], input[type='phone'], input[type='number'], textarea, select{
  font-size: 16px;
  color: #262626;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #666;
  margin-bottom: 20px;
}
input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='phone']:focus, input[type='number']:focus, textarea:focus, select:focus {
  outline: 0;
  border-color: #92c944;
}
textarea{
  resize: none;
}
.bg-grey{
  background-color: #f9fafb;
}
.main-promo{
  overflow: hidden;
  height: 270px;
  width: 100%;
  @media screen and (min-width: $medium-devices) {
    height: 420px;
  }
  @media screen and (min-width: $large-devices) {
    height: 567px;
  }
}
#video-player{
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
}
.welcome{
  padding: 40px 0;
}
.advantages_content{
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $medium-devices) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.advantages{
  padding-bottom: 40px;
}
.advantages_image{
  width: 100%;
  margin: 20px 0;
  @media screen and (min-width: $medium-devices) {
    width: 48%;
    margin: 0;
  }
  img{
    height: auto;
    width: 100%;
    @media screen and (min-width: $large-devices) {
      width: auto;
    }
  }
}
.flex-pos{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  @media screen and (min-width: $medium-devices) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.flex-item{
  width: 100%;
  margin: 20px 0;
  @media screen and (min-width: $medium-devices) {
    width: 48%;
    margin: 0;
  }
}
.benefits{
  padding: 20px 0px 40px 0px;
  background-color: #f9fafb;
}
.image_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .img_item{
    width: 47%;
    margin-bottom: 30px;

    img{
      max-width: 100%;
      height: auto; 
    }
  }
}
.text_wrap{
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $medium-devices) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.text_item{
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: $medium-devices) {
    width: 47%;
  }
}
.alert_content{
  position: relative;
  background: #e1f9b7;
  border: 1px solid #b2dc6e;
  border-radius: 5px;
  padding: 22px 50px 21px 100px;
  color: #649d01 !important;
  i{
    position: absolute;
    left: 37px;
    top: 50%;
    margin-top: -18px;
    font-size: 30px;
  }
}
.exploitation{
  padding: 40px 0;
  &-carousel{
    margin-top: 10px;
  }
  .text-icon{
    width: 100%;
    margin: 20px 0;
    @media screen and (min-width: $medium-devices) {
      width: 74%;
      margin: 0;
    }
    .text-icon_item{
      display: flex;
      i{
        font-size: 50px;
        color: #92c944;
        margin-right: 20px;
      }
      p{
        font-size: 16px;
        color: #262626;
        line-height: 26px;
        margin: 0 0 20px 0;
      }
    }
  }
  .image-con{
    width: 100%;
    margin: 20px 0;
    @media screen and (min-width: $medium-devices) {
      width: 24%;
      margin: 0;
    }
    img{
      height: auto;
      width: 100%;
      @media screen and (min-width: $large-devices) {
        width: auto;
      }
    }
  }
  &-alert{
    position: relative;
    background: #e1f9b7;
    border: 1px solid #b2dc6e;
    border-radius: 5px;
    padding: 22px 50px 21px 100px;
    color: #649d01 !important;
    i{
      position: absolute;
      left: 37px;
      top: 50%;
      margin-top: -22px;
      font-size: 30px;
    }
    p{
      color: #649d01 !important;
    }
  }
}
.alert-info{
  margin: 45px 0 80px 0;
  color: #2092b7;
  background: #d5f4ff;
  border: 1px solid #a0e7ff;
  border-radius: 5px;
  padding: 22px 50px 21px 100px;
  text-align: left;
  overflow: auto;
  position: relative;
  i{
    display: inline-block;
    position: absolute;
    font-size: 30px;
    left: 37px;
    top: 50%;
    margin-top: -22px;
    font-weight: 900;
  }
  p{
    color: #2092b7;
  }
}
.clients{
  padding-bottom: 40px;
}
.clients-carousel_item{
  img{
    width: 235px;
  }
  outline: 0;
}
.work_cards{
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $medium-devices) {
    flex-direction: row;
  }
}
.work_item{
  width: 80%;
  padding: 70px 20px 50px;
  margin-bottom: 10px !important;
  text-align: center;
  background: #92c944;
  color: #fff;
  transition: all .2s ease;
  &:hover{
    background: #a1b1bc;
  }
  @media screen and (max-width: $medium-devices) {
    margin: auto;
  }
  @media screen and (min-width: $medium-devices) {
    width: 20%;
    margin: 0;
  }
  i{
    font-size: 75px;
    @media screen and (min-width: $medium-devices) {
      font-size: 48px;
    }
  }
}
.we_work{
  padding-bottom: 40px;
}
.callback{
  padding: 40px 0;
  &_con{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $medium-devices) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-form{
    width: 100%;
    @media screen and (min-width: $medium-devices) {
      width: 55%;
    }
    #callback-name{
      margin-bottom: 20px;
    }
    form{
      margin: 20px 0;
    }
  }
  &-phones{
    width: 100%;
    text-align: center;
    @media screen and (min-width: $medium-devices) {
      width: 40%;
    }
    a{
      font-weight: 600;
      font-size: 24px;
      color: #262626;
      span{
        color: #92c944;
      }
    }
  }

  p{
    margin: 15px 0;
  }
}
.captcha{
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $medium-devices) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.our_works_album{
  width: 100%;
  -ms-display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . ." ". . ." ". . ." ". . ."; 
  @media screen and (min-width: $medium-devices) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . . . . ." ". . . . . .";
  }

  a{
    img{
      width: 100%;
      height: auto;
      margin-bottom: -5px;
    }
  }
}
.reviews_section{
  padding: 40px 0;
  background-color: #f9fafb;
}
.reviews{
  &_item{
    display: block;
    @media screen and (min-width: $medium-devices) {
      display: flex !important;
      justify-content: flex-start;
    }
  }
  &_photo{
    display: flex;
    justify-content: center;
    @media screen and (min-width: $medium-devices) {
      display: block;
      margin-right: 10px;
    }
  }
}
.for_driver{
  padding: 40px 0;
  &_item{
    display: flex;
  }
}

.map_section{
  height: 370px;
  iframe{
    width: 100%;
    height: 100%;
  }
  .map-block{
    background: url(../img/map.jpg) center no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
  }
  .dn{
    display: none !important;
  }
  .map-img{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-weight: 700;
    &:hover{
      opacity: 1;
    }
  }
}
.calltous{
  padding: 40px 0;
  .flex-pos{
    margin: 0;
  }
}
.top-section{
  background-image: url(..//img/promo-bg.jpg);
  background-size: cover;
  background-position: center center;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }
}
.advantages-sec{
  img{
    height: auto;
    width: 100%;
    @media screen and (min-width: $large-devices) {
      width: initial;
      height: initial;
    }
  }
}
.free-consult{
  padding: 40px 0;
  .block-info{
    align-items: center;
    margin: 30px 0;
    border-left: 5px solid #92c944;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $medium-devices) {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 40px 20px 40px;
    }
    .text-block{
      width: 80%;
    }
  }
}
.turbins-diagnostic{
  padding-bottom: 40px;
  .diagnostic-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .img-block{
      @media screen and (max-width: $medium-devices) {
        margin: auto;
      }
      @media screen and (max-width: $extra-large-devices) {
        margin-bottom: 15px;
      }
      
      @media screen and (min-width: $extra-large-devices) {
        margin-bottom: 0;
      }
      img{
        width: 270px;
        height: 270px;
        margin-top: -5px;
      }
    }
  }
}
.turbins-crash-reason{
  padding-bottom: 40px;
  .flex-item-3{
    width: 100%;
    margin-bottom: 15px;
    @media screen and (min-width: $medium-devices) {
      width: 33%;
      margin-bottom: 0;
    }
    

    img{
      height: auto;
      width: 100%;
      @media screen and (min-width: $medium-devices) {
        height: initial;
        width: initial;
      }
    }
    
  }
  .crash-reason-text{
    .flex-text-item{
      width: 100%;
      @media screen and (min-width: $medium-devices) {
        width: 75%;
      }
    }
    .flex-img-item{
      width: 100%;
      @media screen and (min-width: $medium-devices) {
        width: 20%;
      }
     
      img{
        height: auto;
        width: 100%;
        @media screen and (min-width: $medium-devices) {
          height: 197px;
          width: 197px;
        }
      }
    }
  }
  .alert-info{
    margin-bottom: 40px;
  }
}
.subpages-list{
  padding: 20px 0;
  .subpage-item{
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 -2px 60px;
    vertical-align: top;
    
    @media screen and (min-width: $small-devices) {
      width: 50%;
    }
    @media screen and (min-width: $medium-devices) {
      width: 33.3%;
    }
    @media screen and (min-width: $large-devices) {
      width: 25%;
    }
    .subpage-image{
      margin-bottom: 20px;
      a{
        position: relative;
        display: block;
        &::after{
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(146,201,68,0.5);
          width: 100%;
          height: 97%;
          opacity: 0;
          transition: all .2s ease;
        }
        &:hover::after{
          opacity: 1;
        }
        img{
          width: 100%;
        }
      }
    }
  }
}
.sto-description{
  padding-bottom: 20px;
  img{
    height: auto;
    width: 100%
  }
}
.sto-why-turbomicron{
  .icon-text-item{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    @media screen and (min-width: $large-devices) {
      width: 30%;
    }
  }
}
.sto-turbin-replace{
  .flex-text-item{
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $medium-devices) {
      width: 70%;
      margin-bottom: 0px;
    }
  }
  .flex-img-item{
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $medium-devices) {
      width: 20%;
      margin-bottom: 0;
    }
    img{
      height: auto;
      width: 100%;
      @media screen and (min-width: $medium-devices) {
        height: 231px;
        width: 234px;
      }
    }
  }
  .diagnostics-btn{
    padding: 25px 0;
    text-align: center;
  }
}
.sto-features{
  .flex-text-item{
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $medium-devices) {
      width: 73%;
      margin-bottom: 0;
    }
  }
  .flex-img-item{
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $medium-devices) {
      width: 25%;
      margin-bottom: 0;
    }
    img{
      height: auto;
      width: 100%;
      @media screen and (min-width: $medium-devices) {
        height: 231px;
        width: 289px;
      }
    }
  }
}
.catalog-list{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @media screen and (min-width: $medium-devices) {
    width: 95%;
  }
  .catalog-list-item{
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 1px 2px;
    padding: 5px;
    box-sizing: border-box;
    @media screen and (min-width: $medium-devices) {
      width: 110px;
      height: 110px;
      margin: 3px 5px;
    }
    a{
      position: relative;
      display: block;
      background: rgba(0,0,0,0.05);
      border-radius: 4px;
      box-shadow: none;
      &:hover{
        box-shadow: 0 3px 3px rgba(0,0,0,0.3);
      }
      img{
        width: 100%;
        height: 100%;
      }
      
    }
  }
}
.articles-list{
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.articles-item{
  display: inline-block;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 -2px 60px;
  @media screen and (min-width: $small-devices) {
    width: 50%;
  }
  @media screen and (min-width: $large-devices) {
    width: 33.3333%;
  }
  .article-image{
    margin-bottom: 20px;
    a{
      position: relative;
      display: block;
      img{
        width: 100%;
      }
      &::after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(146,201,68,0.5);
        width: 100%;
        height: 98%;
        opacity: 0;
        transition: all .2s ease;
      }
      &:hover::after{
        opacity: 1;
      }
    }
  }
  .article-title{
    a{
      text-decoration: none;
      color: #262626;
      font-weight: 600;
      font-size: 24px;
      &:hover{
        color: #92c944;
      }
    }
  }
}
.bottom-navigation{
  padding: 20px 0 60px 0;
  ul{
    text-align: center;
    li{
      display: inline-block;
      margin: 0 5px;
      &.active{
        border: 1px solid #262626;
        padding: 6px 10px;
      }
      a{
        color: #262626;
        font-weight: 500;
        padding: 6px 10px;
        border: 1px solid transparent;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        position: relative;
        text-decoration: none;
      }
      a.prev:before, a.next:after{
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-right: 2px solid #262626;
        border-bottom: 2px solid #262626;
        position: absolute;
        top: 13px;
      }
      a.prev:before{
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        left: -10px;
      }
      a.next:after{
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: -10px;
      }
    }
  }
}
.reviews-block{
  padding: 40px 0;
}
.review-form{
  padding: 40px 0;
  background: #f9fafb;
}
.review-form-block{
  input[type=text], textarea{
    margin-bottom: 20px;
  }
  textarea{
    height: 142px;
  }
}
.form-button{
  text-align: center;
  @media screen and (min-width: $medium-devices) {
    text-align: right;
  }
}
.feedback-section{
  padding-bottom: 40px;
  input{
    margin-bottom: 20px;
  }
  .callback-form{
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $medium-devices) {
      width: 55%;
      margin-bottom: 0;
    }
    textarea{
      height: 200px;
      padding: 10px 10px;
      line-height: 20px;
    }
  }
  .phones-form{
    width: 100%;
    text-align: center;
    @media screen and (min-width: $medium-devices) {
      width: 40%;
    }
    a{
      font-weight: 600;
      font-size: 24px;
      color: #262626;
      span{
        color: #92c944;
      }
    }
    p{
      margin: 15px 0;
    }
  }
}
.recover-special-equipment{
  padding: 20px 0 40px 0;
  img{
    height: auto;
    width: 100%;
    @media screen and (min-width: $medium-devices) {
      height: initial;
      width: initial;
    }
  }
}
.cuality-text{
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: $medium-devices) {
    width: 40%;
    margin-bottom: 0;
  }
}
.cuality-carousel-block{
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: $medium-devices) {
    width: 55%;
    margin-bottom: 0;
  }
  img{
    width: 100%;
  }
}
.crash-reason-special{
  padding-bottom: 40px;
  .flex-item-3{
    width: 100%;
    margin-bottom: 15px;
    @media screen and (min-width: $medium-devices) {
      width: 30%;
      margin-bottom: 0;
    }
    

    img{
      height: auto;
      width: 100%;
      @media screen and (min-width: $medium-devices) {
        height: initial;
        width: initial;
      }
    }
  }
}
.buy-catridge{
  padding: 40px 0;
}
.buy-catridge-for-brands{
  padding: 20px 0 40px 0;
}
.mb-0{
  margin-bottom: 0;
}
.about-cartridge{
  padding-bottom: 20px;
  .about-cartridge-item{
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $medium-devices) {
      width: 45%;
      margin-bottom: 0;
    }
    img{
      height: auto;
      width: 100%;
      @media screen and (min-width: $medium-devices) {
        height: initial;
        width: initial;
      }
    }
    ul{
      padding: 0 0 0 25px;
    }
    li{
      position: relative;
      line-height: 26px;
      &::before{
        content: '';
        position: absolute;
        left: -18px;
        top: 12px;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        background: #92c944;
      }
    }
  }
}
.video-container{
  height: 400px;
  width: 100%;
  @media screen and (min-width: $medium-devices) {
    height: 600px;
  }
  iframe{
    height: 100%;
    width: 100%;
  }
  margin-bottom: 40px;
}
.catalog-line{
  background: #262626;
  margin-bottom: 40px;
  border-bottom: 2px solid #92c944;
  .catalog-block{
    padding-bottom: 10px;
    width: 67%;
    @media screen and (min-width: $large-devices) {
      padding-bottom: 0;
      width: 100%;
    }
    @media screen and (max-width: $large-devices) {
      margin: auto;
    }
  }
  .catalog-nav{
    @media screen and (max-width: $large-devices) {
      text-align: left;
      width: 100%;
      position: absolute;
      top: 55.8%;
      left: 0;
      background: rgba(0,0,0,0.9);
      z-index: 11;
      flex-wrap: wrap;
      text-align: left;
      display: none;
      padding-bottom: 10px;
      border-bottom: 2px solid #92c944;
      box-shadow: 0 33px 48px rgba(0,0,0,0.6);
    }
    @media screen and (min-width: $large-devices) {
      display: flex;
      justify-content: space-between;
    } 
  }
  .catalog-nav-active{
    display: block !important;
  }
  .catalog-nav>li>a{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 0;
    &:hover{
      color: #92c944;
    }
  }
  li{
    @media screen and (max-width: $large-devices) {
      width: 67%;
      margin: 0 auto;
    }
  }
  .sub {
    position: relative;
    a {
      padding-right: 20px;
    }
  }
  .sub > a::before {
    content: "";
    position: absolute;
    right: -18px;
    top: 9px;
    display: none;
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    @media screen and (min-width: $large-devices) {
      display: inline-block;
    }
  }
  .sub > ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: -5px;
    top: 32px;
    
    text-align: left;
    min-width: 100%;
    @media screen and (max-width: $large-devices) {
      display: block;
      position: static;
      
    }
    @media screen and (min-width: $medium-devices) {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  .sub > ul li {
    height: 31px;
    line-height: 30px;
    width: 100%;
    margin-top: -1px;
  }
  .sub > ul li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    background: 0;
    white-space: nowrap;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    &:hover {
      background: rgba(146, 201, 48, 0.7);
    }
    &::after{
      content: '';
      display: none;
    }
  }

  .sub:hover > ul {
    display: block;
  }
  .catalog-hamburger{
    display:  inline-block;
    @media screen and (min-width: $large-devices) {
      display: none;
    }
  }
  
  .nav-title{
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: 700;
    display: inline-block;
    @media screen and (min-width: $large-devices) {
      display: none;
    }
  }
}
.search-block{
  #search-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
    & *{
      margin-bottom: 10px;
    }
  }
  #top-search{
    width: 100%;
    @media screen and (min-width: $large-devices) {
      width: 40%;
    }
  }
  .select-wrap{
    width: 100%;
    @media screen and (min-width: $medium-devices) {
      width: 40%;
    }
    @media screen and (min-width: $large-devices) {
      width: 24%;
    }
  }
}
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
}
.jq-selectbox, .jq-select-multiple {
  position: relative;
  display: inline-block;
}


.jq-selectbox select, .jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.jq-selectbox__select {
  height: 50px;
  line-height: 48px;
  padding: 0 45px 0 10px;
  border: 2px solid #666;
  border-radius: 5px;
  color: #262626;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}
.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 23px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #666;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.jq-selectbox__dropdown{
  z-index: 9;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  font-size: 14px;
  position: absolute;
  display: none;
}
.dropdown-active{
  display: block;
  height: auto;
  bottom: auto;
  top: 50px;
}
.jq-selectbox__search {
  margin: 5px;
}
.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: 0;
  box-shadow: inset 1px 1px #f1f1f1;
  color: #333;
}
.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  max-height: 231px;
}
.jq-selectbox li {
  min-height: 14px;
  padding: 3px 10px 4px;
  color: #666;
}
.jq-selectbox li:hover {
  background-color: #92c944;
  color: #FFF;
}
.jq-selectbox li.selected {
  background-color: #666;
  color: #FFF;
}
.view-list{
  display: flex;
  flex-wrap: wrap;
  margin: 40px -10px;
  li{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    @media screen and (min-width: $medium-devices) {
      width: 50%;
    }
    @media screen and (min-width: $extra-large-devices) {
      width: 33.33%;
    }
    a{
      display: block;
      position: relative;
      .view-list-title{
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;
        color: #fff;
        padding: 0 4%;
        text-transform: uppercase;
        background-color: rgba(38,38,38,0.9);
        z-index: 1;
        font-weight: 700;
        line-height: 35px;
        box-sizing: border-box;
      }
      img{
        width: 100%;
        height: auto;
        display: block;
      }
      &::after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(146,201,68,0.5);
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .2s ease;
      }
      &:hover::after{
        opacity: 1;
      }
    }
  }
}
.delivery-content{
  padding: 40px 0;
  img{
    height: auto;
    width: 100%;
    @media screen and (min-width: $medium-devices) {
      height: initial;
      width: initial;
    }
  }
}
.delivery-methods{
  padding-bottom: 20px;
  .alert_content{
    margin-bottom: 40px;
  }
  .delivery-carousel{
    margin-bottom: 40px;
  }
  .delivery-carousel-item{
    img{
      width: 236px;
    }
  }
}
.delivery-services{
  margin-bottom: 40px;
  background-size: 100% auto;
  padding: 40px 0;
  @media screen and (min-width: $medium-devices) {
    background-image: url(..//img/delivery_text_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.services-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: $large-devices) {
  flex-direction: row;  
  justify-content: space-between;
  }
}
.delivery-card{
  width: 75%;
  display: flex;
  background: rgba(186,185,185,0.6);
  padding: 20px 20px 0 20px;
  margin-bottom: 20px !important;
  @media screen and (min-width: $medium-devices) {
    background: rgba(255,255,255,0.7);
  }  
  @media screen and (max-width: $large-devices) {
    margin: auto;
  }
  @media screen and (min-width: $large-devices) {
    &:not(:last-child){
      margin-right: 5%;
    }
    width: 30%;
  }
  
  em{
    display: inline-block;
    font-size: 50px;
    color: #92c944;
    margin-right: 20px;
  }
  p{
    font-size: 14px;
    color: #262626;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
.price-car-block{
  padding-bottom: 15px;
  img{
    height: auto;
    width: 100%;
    @media screen and (min-width: $medium-devices) {
      height: initial;
    }
  }
}
.repair-car-block{
  padding-bottom: 40px;
  img{
    float: left;
    margin-right: 30px;
  }
  
}
.pdf-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  @media screen and (min-width: $medium-devices) {
    flex-direction: row;
    justify-content: center;
  }
  .pdf, .book-btn{
    width: 80%;
    margin-bottom: 20px;
    @media screen and (min-width: $medium-devices) {
      width: 30%;
      margin-bottom: 0;
    }
  }
  img{
    float: initial;
    margin-right: 0;
    height: 50px;
    margin-top: -10px;
    width: 50px;
    vertical-align: top;
  }
}
.repair-terms-block{
  padding: 40px 0;
}
.article-left{
  width: 100%;
  padding-top: 40px;
  @media screen and (min-width: $medium-devices) {
    width: 59.3%;
  }
  .article-image{
    img{
      height: auto;
      width: 100%;
    }
  }
  .social{
    padding: 30px 0;
  }
  .social-list{
    display: inline-block;
    vertical-align: middle;
    li{
      display: inline-block;
      margin-left: 3px;
      margin-bottom: 8px;
      a{
        display: inline-block;
        width: 60px;
        height: 30px;
        text-align: center;
        line-height: 32px;
        &:hover{
          opacity: .8;
        }
        i{
          color: #fff;
          font-size: 20px;
        }
      }
      .social-tw{
        background-color: #00abf0;
      }
      .social-gp{
        background-color: #be3208;
      }
      .social-pi{
        background-color: #bd081c;
      }
      .social-li{
        background-color: #0084bf;
      }
      .social-tg{
        background-color: #08c;
      }
      .social-tu{
        background-color: #36465d;
      }
    }
  }
}
.article-right{
  width: 100%;
  padding-top: 40px;
  background: #f7f7f7;
  @media screen and (min-width: $medium-devices) {
    width: 31.4%;
  }
  .additional-articles{
    padding: 0 20px;
    .articles-line{
      li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #a0a0a0;
        .art-line-img{
          width: 60px;
          img{
            vertical-align: top;
          }
        }
        .art-line-title{
          width: calc(100% - 80px);
          line-height: 20px;
          a{
            font-size: 14px;
            color: #262626;
            text-decoration: none;
            &:hover{
              color: #92c944;
            }
          }
        }
      }
    }
  }
}
.tnvd-recover-purpose{
  padding: 20px 0;
}
.tnvd-Commonrail-BOSCH-CP4{
  padding-bottom: 40px;
}
.table{
  width: 100%;
  border-collapse: collapse;
  font-size: 10px;
  background: #fff;
  color: #262626;
  border-spacing: 0;
  @media screen and (min-width: $medium-devices) {
    font-size: 15px;
  }
  th {
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    background: #bdbdbd;
    color: #fff;
    border: 1px solid #bdbdbd;
    height: 45px;
    padding: 4px;
    @media screen and (min-width: $medium-devices) {
      padding: 10px;
    }
}
  td {
  padding: 10px 0;
  border: 1px solid #bdbdbd;
  text-align: center;
  line-height: 15px;
  vertical-align: middle;
  @media screen and (min-width: $medium-devices) {
    padding: 15px 10px 12px;
    }
  }
  
}
.tnvd{
  padding-bottom: 40px;
  img{
    height: auto;
    width: 100%;
  }
}
.tnvd-crash-reasons{
  padding-bottom: 40px;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  margin: 40px -10px;
  li {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    .product-image {
      margin-bottom: 10px;
      position: relative;
      a{
        img{
          width: 100%;
          height: auto;
        }
        &::after{
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(146,201,68,0.5);
          width: 100%;
          height: 97%;
          opacity: 0;
          transition: all .2s ease;
        }
        &:hover::after{
          opacity: 1;
        }
      }
    }
  }
}
.one-product-wrap{
  margin-bottom: 40px;
  .product-detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media screen and (min-width: $medium-devices) {
      flex-direction: row;
    }

    .product-photos{
      width: 100%;
      @media screen and (min-width: $medium-devices) {
        width: 40%;
      }
      .product-big-photos{
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.buy-block{
  margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.attributes{
  margin-top: 20px;
  ul{
    li{
      margin: 0 0 15px 0;
      font-size: 14px;
      line-height: 18px;
    }
    li>ul{   
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 15px;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      &>li {
        width: 49%;
        display: flex;
        &>strong {
          display: block;
          width: 150px;
        }
      }
    }
    
  }
}
.product-tabs{
  margin-top: 60px;
  .tabs-nav{
    border-bottom: 2px solid #666;
    li{
      display: inline-block;
      a{
        display: block;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #666;
        text-decoration: none;
        border: 2px solid transparent;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
      }
      a.active{
        color: #fff;
        border-color: #666;
        background: #666;
        cursor: default;
      }
    }
  }
}
.tab-content{
  padding: 20px 0 0;
}
.relation-products{
  margin-top: 80px;
  .relation-carousel{
    .relation-carousel-item{
      width: 25%;
      box-sizing: border-box;
      padding: 10px;
      .product-image {
        margin-bottom: 10px;
        position: relative;
        a{
          img{
            width: 100%;
            height: auto;
          }
          &::after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(146,201,68,0.5);
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all .2s ease;
          }
          &:hover::after{
            opacity: 1;
          }
        }
      }
    }
  }
}
.toast {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px;
  background: #000;
  font-size: 18px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  z-index: 100;
}
.toast.success {
  background: #67c927;
}
.toast.error {
  background: #ff0000;
}